<nav class="nav">
  <div class="nav--container">
    <div class="nav--content">
      <ul class="nav--list">
        <li>
          <a
            {% if nav_page == "index" %}
              class="nav--link-current"
              {% if nest_level == 0 %}
                aria-current="page"
              {% endif %}
            {% endif %}
            href="{{ url_prefix }}index.html"
          >
            <i class="fa-solid fa-paw fa-sm"></i> Pets
          </a>
        </li>
        <li>
          <a
            {% if nav_page == "travel" %}
              class="nav--link-current"
              {% if nest_level == 0 %}
                aria-current="page"
              {% endif %}
            {% endif %}
            href="{{ url_prefix }}travel.html"
          >
            <i class="fa-solid fa-plane fa-sm"></i> Travel
          </a>
        </li>
        <li>
          <a
            {% if nav_page == "recipes" %}
              class="nav--link-current"
              {% if nest_level == 0 %}
                aria-current="page"
              {% endif %}
            {% endif %}
            href="{{ url_prefix }}recipes.html"
          >
            <i class="fa-solid fa-utensils fa-sm"></i> Recipes
          </a>
        </li>
      </ul>
    </div>
    <!--Empty onclick to allow "hover" state on mobile-->
    <button
      class="nav--btn"
    >
      <span class="nav--btn--text">
        {% if nav_page == "index" %}
          <i class="fa-solid fa-paw"></i> Pets
        {% elif nav_page == "travel" %}
          <i class="fa-solid fa-plane"></i> Travel
        {% elif nav_page == "recipes" %}
          <i class="fa-solid fa-utensils"></i> Recipes
        {% endif %}
      </span>
      <span class="nav--btn--icon">
        <i class="fa-solid fa-chevron-up"></i>
      </span>
    </button>
  </div>
</nav>
