/***** Utility classes *****/

@use "vars";

.img-blur-decor {
  /* Zoom in to cover blurred edges */
  transform: scale(1.5);
  filter: blur(16px);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
