@use "sass:color";
@use "sass:math";
@use "vars" as *;

@import "defaults", "utilities", "layout";
@import "modules/dropup";
@import "modules/home-grid";
@import "modules/hero";

/* Smaller modules can be include directly */

.link {
  color: $clr-primary;
  text-decoration: underline;
}

.article {
  padding: var(--dim-padding-page);
}

.img {
  border-radius: 16px;
  width: 100%;
}

.img--thin-h {
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.constrained-img {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: stretch;
  margin-block: 16px;
  border-radius: 16px;
  background-color: $clr-surface-container;
  width: 100%;
  max-height: 408px;
  overflow: hidden;
}

.constrained-img__bg {
  position: absolute;
  z-index: 0;
  inset: 0;
}

.constrained-img__img {
  z-index: 1;
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/**** Long Text ****/

.long-text {
  position: relative;
  margin: 0.8rem 0;
  border-radius: 16px;
  background: $clr-surface-container;
  padding: 16px;

  @extend %no-inner-margin;
}

.long-text--expandable {
  overflow: hidden;

  &::after {
    position: absolute;
    inset: auto 0 0;
    background: linear-gradient(transparent, $clr-surface-container);
    height: 64px;
    content: "";
  }

  &.long-text--expanded {
    &::after {
      height: 0;
    }
  }
}

.long-text__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  border-radius: 32px;
  background-color: $clr-primary;
  width: 4px;
  height: calc(100% - 24px);

  &:hover,
  &:active {
    background-color: color.adjust($clr-primary, $lightness: 15%);
  }
}

.long-text__content {
  margin-left: 16px;

  @extend %no-inner-margin;
}

@media (prefers-reduced-motion: no-preference) {
  $animation-duration: 0.5s;

  .long-text__btn {
    transition-duration: $animation-duration;
    transition-property: transform, height, top;
    transition-timing-function: ease-in-out;
  }

  .long-text {
    transition: height $animation-duration ease-in-out;

    &::after {
      transition: height $animation-duration ease-in-out;
    }
  }
}

/**** Captioned Image ****/

.captioned-img {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin: 0.8rem 0;
  border-radius: 16px;
  background: $clr-surface-container;
  overflow: hidden;
}

.captioned-img__img-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: stretch;
  min-height: 96px;
  max-height: 408px;
  overflow: hidden;
}

.captioned-img__bg {
  position: absolute;
  z-index: 0;
  inset: 0;
}

.captioned-img__img {
  z-index: 1;
  object-fit: contain;
}

.captioned-img__caption {
  background-color: $clr-surface-container;
  padding: 16px;
  width: 100%;
}
