@import "vars";

* {
  font-family: $fontFamilyDefault;

  :focus {
    // Restore default focus outline
    outline: revert;
  }
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 1.5;
}

body {
  padding: $paddingGlobal;
}

/* Tags sorted alphabetically */

a {
  cursor: pointer;
}

b {
  font-weight: bold;
}

em {
  font-style: italic;
}

figure {
  margin-block: 1rem;
}

h1 {
  margin: 0.67rem 0;
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  margin: 0.83rem 0;
  font-weight: bold;
  font-size: 1.5rem;
}

h3 {
  margin: 1rem 0;
  font-weight: bold;
  font-size: 1.17rem;
}

h4 {
  margin: 1.33rem 0;
  font-weight: bold;
  font-size: 1rem;
}

img {
  // Negative margin to counteract body padding
  margin-left: -$paddingGlobal;
  // Make image full width
  max-width: 100vw;
}

li {
  display: list-item;

  + li {
    margin-top: 0.5rem;
  }
}

ol {
  margin: 1rem 0;
  padding-inline-start: $paddingListL1;
  list-style-type: decimal;
}

p {
  margin: 0.8rem 0;
}

u {
  text-decoration: underline;
}

ul {
  margin: 1rem 0;
  padding-inline-start: $paddingListL1;
  list-style-type: disc;
}
