@use "sass:color";
@use "sass:math";
@use "vars" as *;

@import "defaults", "utilities", "layout";
@import "modules/back-btn";
@import "modules/captioned-img";
@import "modules/constrained-img";
@import "modules/dropup";
@import "modules/home-grid";
@import "modules/hero";
@import "modules/long-text";
@import "modules/photo-grid";
@import "modules/nav";

/* Smaller modules can be include directly */

.link {
  color: $clr-primary;
  text-decoration: underline;
}

.article {
  padding: var(--dim-padding-page);
}

@media (min-width: $media-tablet) {
  .article {
    padding-inline: var(--dim-padding-page-wide);
  }
}

.img {
  border-radius: 16px;
  width: 100%;
}

.img--thin-h {
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.title--with-icon {
  i {
    margin-right: 0.4rem;
    color: $clr-primary;
  }
}
