{% extends "base.html" %}

{% set nav_page = "travel" %}

{% block title %}{{ name }}{% endblock title %}
{% block pre_content %}
  {% include "components/nav.html" %}

  <header class="hero l-full-pad" id="header" title="{{ name }}">
    <img class="img-blur-decor hero__bg" src="{{ url_prefix }}{{ main_img.src }}" alt="" />
    <img class="hero__img" src="{{ url_prefix }}{{ main_img.src }}" alt="{{ main_img.alt }}" />
    <h1 class="hero__txt">{{ name }}</h1>
    <!-- Invisible button to hide text -->
    <button class="hero__btn" aria-label="Hide text"></button>
  </header>
{% endblock pre_content %}

{% block content %}
  <div class="article">
    <p><b>Geographical Location:</b> {{ geographical_location }}</p>

    <img class="img img--thin-h" src="{{ url_prefix }}{{ main_gif.src }}" alt="" />

    <div class="long-text">
      {% for par in description %}
        <p>{{ par }}</p>
      {% endfor %}
    </div>

    <h2>Photo Gallery</h2>

    {% for image in photo_gallery %}
      <figure class="captioned-img">
        <div class="captioned-img__img-container">
          <img class="img-blur-decor captioned-img__bg" src="{{ url_prefix }}{{ image.src }}" alt="" />
          <img class="captioned-img__img" src="{{ url_prefix }}{{ image.src }}" alt="{{ image.alt }}" />
        </div>
        <figcaption class="captioned-img__caption">{{ image.caption }}</figcaption>
      </figure>
    {% endfor %}

    <!-- {{ author }} -->
  </div>
{% endblock content %}
