{% set nav_page = "travel" %}

{% extends "base.html" %}
{% block title %}{{ name }}{% endblock title %}
{% block pre_content %}
  {% include "components/nav.html" %}

  <header class="hero l-full-pad" id="header" title="{{ name }}">
    <img class="img-blur-decor hero__bg" src="{{ url_prefix }}{{ main_img.src }}" alt="{{ main_img.alt }}" />
    <img class="hero__img" src="{{ url_prefix }}{{ main_img.src }}" alt="{{ main_img.alt }}" />
    <h1 class="hero__txt">{{ name }}</h1>
    <!-- Invisible button to hide text -->
    <button class="hero__btn" aria-label="Hide text"></button>
  </header>
{% endblock pre_content %}

{% block content %}
  <img src="{{ url_prefix }}{{ main_gif.src }}" alt="" />

  <p>Geographical Location: {{ geographical_location }}</p>
  {% for par in description %}
    <p>{{ par }}</p>
  {% endfor %}

  <h2>Photo Gallery</h2>

  {% for image in photo_gallery %}
    <figure>
      <img src="{{ url_prefix }}{{ image.src }}" alt="{{ image.alt }}" />
      <figcaption>{{ image.caption }}</figcaption>
    </figure>
  {% endfor %}

  <!--{{ author }}-->
{% endblock content %}
