{% set nav_page = "travel" %}

{% extends "base.html" %}
{% block title %}{{ name }}{% endblock title %}
{% block pre_content %}
  {% include "components/nav.html" %}

  <header><h1>{{ name }}</h1></header>
{% endblock pre_content %}

{% block content %}
  <img class="full-width" src="{{ url_prefix }}{{ main_gif.src }}" alt="" />
  <img class="full-width" src="{{ url_prefix }}{{ main_img.src }}" alt="" />

  <p>Geographical Location: {{ geographical_location }}</p>
  {% for par in description %}
    <p>{{ par }}</p>
  {% endfor %}

  <h3>Photo Gallery</h3>

  {% for image in photo_gallery %}
    <figure>
      <img class="full-width" src="{{ url_prefix }}{{ image.src }}" alt="{{ image.alt }}" />
      <figcaption>{{ image.caption }}</figcaption>
    </figure>
  {% endfor %}

  <!--{{ author }}-->
{% endblock content %}
