<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lato:wght@900&family=Patua+One&display=swap" rel="stylesheet">
    <!-- Normalize styles across browsers -->
    <link rel="stylesheet" href="css/reset.css" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/styles.css" />
    <title>{% block title required %}{% endblock %}</title>
  </head>

  <body>
    <a href="#main-content">Skip to Main Content</a>

    <nav>
      <ul>
        <li>
          <a href="index.html">Pets</a>
        </li>
        <li>
          <a href="travel.html">Travel</a>
        </li>
        <li>
          <a href="recipes.html">Recipes</a>
        </li>
      </ul>
    </nav>

    {% block pre_content %}{% endblock %}

    <main id="main-content">
      {% block content required %}{% endblock %}
    </main>

    {% block post_content %}{% endblock %}
  </body>
</html>
