{% set nav_page = "index" %}

{% extends "base.html" %}
{% block title %}Pets{% endblock title %}
{% block pre_content %}
  {% include "components/nav.html" %}

  <header><h1>Pets</h1></header>
{% endblock pre_content %}

{% block content %}
  <section class="grid">
    {% for pet in pets %}
      <a class="grid-item" href="{{ url_prefix }}pet/{{ pet.id }}-{{ pet.name | lower }}.html">
        <figure class="grid--figure">
          <div class="grid--figure--img-container">
            <img src="{{ url_prefix }}{{ pet.main_img.src }}" alt="{{ pet.main_img.alt }}" />
          </div>
          <figcaption>{{ pet.name }}</figcaption>
        </figure>
        <!--{{ pet.author }}-->
      </a>
    {% endfor %}
  </section>
{% endblock content %}
