{% extends "base.html" %}

{% set nav_page = "recipes" %}

{% block title %}Recipes{% endblock title %}
{% block body_class %}p-home{% endblock body_class %}
{% block pre_content %}
  <header id="header">
    <h1 class="title--with-icon"><i class="fa-solid fa-utensils fa-sm"></i> Recipes</h1>
    {% include "components/nav.html" %}
  </header>
{% endblock pre_content %}

{% block content %}
  <div class="home-grid">
    {% for recipe in recipes %}
    <a
      class="home-grid__item"
      href="{{ url_prefix }}{{ recipe.slug | e }}.html"
    >
      <figure class="home-grid__figure">
        <!-- Decorative blur effect -->
        <img class="img-blur-decor" src="{{ url_prefix }}{{ recipe.main_img.src }}" alt="" />
        <div class="home-grid__img-container">
          <img src="{{ url_prefix }}{{ recipe.main_img.src }}" alt="{{ recipe.main_img.alt }}" />
        </div>
        <figcaption>{{ recipe.name }}</figcaption>
      </figure>
      <!-- {{ recipe.author }} -->
    </a>
    {% endfor %}
  </div>
{% endblock content %}
