{% extends "base.html" %}

{% set nav_page = "recipes" %}

{% block title %}Recipes{% endblock title %}
{% block pre_content %}
{% include "components/nav.html" %}

<header><h1>Recipes</h1></header>
{% endblock pre_content %}

{% block content %}
<section class="grid">
  {% for recipe in recipes %}
  <a
    class="grid-item"
    href="{{ url_prefix }}{{ recipe.slug | e }}.html"
  >
    <figure class="grid--figure">
      <!-- Decorative blur effect -->
      <img class="img-blurred" src="{{ url_prefix }}{{ recipe.main_img.src }}" alt="" />
      <div class="grid--figure--img-container">
        <img src="{{ url_prefix }}{{ recipe.main_img.src }}" alt="{{ recipe.main_img.alt }}" />
      </div>
      <figcaption>{{ recipe.name }}</figcaption>
    </figure>
    <!--{{ recipe.author }}-->
  </a>
  {% endfor %}
</section>
{% endblock content %}
