{% extends "base.html" %}

{% set nav_page = "travel" %}

{% block title %}Travel{% endblock title %}
{% block pre_content %}
  {% include "components/nav.html" %}

  <header id="header"><h1>Travel</h1></header>
{% endblock pre_content %}

{% block content %}
  <section class="home-grid">
    {% for location in locations %}
      <a
        class="home-grid__item"
        href="{{ url_prefix }}{{ location.slug | e }}.html"
      >
        <figure class="home-grid__figure">
          <!-- Decorative blur effect -->
          <img class="img-blur-decor" src="{{ url_prefix }}{{ location.main_img.src }}" alt="" />
          <div class="home-grid__img-container">
            <img src="{{ url_prefix }}{{ location.main_img.src }}" alt="{{ location.main_img.alt }}" />
          </div>
          <figcaption>{{ location.name }}</figcaption>
        </figure>
        <!-- {{ location.author }} -->
      </a>
    {% endfor %}
  </section>
{% endblock content %}
