{% set nav_page = "travel" %}

{% extends "base.html" %}
{% block title %}Travel{% endblock title %}
{% block pre_content %}
  {% include "components/nav.html" %}

  <header><h1>Travel</h1></header>
{% endblock pre_content %}

{% block content %}
  <section class="grid">
    {% for location in locations %}
      <a
        class="grid-item"
        href="{{ url_prefix }}{{ location.slug | e }}.html"
      >
        <figure class="grid--figure">
          <div class="grid--figure--img-container">
            <img src="{{ url_prefix }}{{ location.main_img.src }}" alt="{{ location.main_img.alt }}" />
          </div>
          <figcaption>{{ location.name }}</figcaption>
        </figure>
        <!--{{ location.author }}-->
      </a>
    {% endfor %}
  </section>
{% endblock content %}
