{% set nav_page = "travel" %}

{% extends "base.html" %}
{% block title %}Travel{% endblock title %}
{% block pre_content %}
  {% include "components/nav.html" %}

  <header><h1>Travel Destinations</h1></header>
{% endblock pre_content %}

{% block content %}
  {% for location in locations %}
    <article>
      <h2>{{ location.name }}</h2>

      <img class="full-width" src="{{ url_prefix }}{{ location.main_gif.src }}" alt="" />
      <img class="full-width" src="{{ url_prefix }}{{ location.main_img.src }}" alt="" />

      <p>Geographical Location: {{ location.geographical_location }}</p>
      {% for par in location.description %}
        <p>{{ par }}</p>
      {% endfor %}

      <h3>Photo Gallery</h3>

      {% for image in location.photo_gallery %}
        <figure>
          <img class="full-width" src="{{ url_prefix }}{{ image.src }}" alt="{{ image.alt }}" />
          <figcaption>{{ image.caption }}</figcaption>
        </figure>
      {% endfor %}

      <!--{{ location.author }}-->
    </article>
  {% endfor %}
{% endblock content %}
