{% extends "base.html" %}

{% set nav_page = "recipes" %}

{% block title %}{{ name }}{% endblock title %}
{% block pre_content %}
  {% include "components/nav.html" %}

  <header class="hero l-full-pad" id="header" title="{{ name }}">
    <img class="img-blur-decor hero__bg" src="{{ url_prefix }}{{ main_img.src }}" alt="{{ main_img.alt }}" />
    <img class="hero__img" src="{{ url_prefix }}{{ main_img.src }}" alt="{{ main_img.alt }}" />
    <h1 class="hero__txt">{{ name }}</h1>
    <!-- Invisible button to hide text -->
    <button class="hero__btn" aria-label="Hide text"></button>
  </header>
{% endblock pre_content %}

{% block content %}
  <div class="article">
    <p><b>Origin:</b> {{ origin }}</p>
    <p>
      <b>Source:</b>
      {% if source.type == "text" %}
        {{ source.value }}
      {% elif source.type == "link" %}
        <a class="link" href="{{ url_prefix }}{{ source.value }}">{{ source.value }}</a>
      {% endif %}
    </p>
    <p><b>Category:</b> {{ category }}</p>

    <div class="long-text">
      <p>{{ description }}</p>
    </div>

    <h2>Recipe Ingredients</h2>

    <div class="long-text">
      <ul>
        {% for item in ingredients recursive %}
          <li>
            {% if item is string %}
              {{ item }}
            {% else %}
              {{ item.parent }}
              <ul>{{ loop(item.children) }}</ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>

    <h2>Recipe Steps</h2>

    <div class="long-text">
      <ol>
        {% for step in steps %}
          <li>{{ step }}</li>
        {% endfor %}
      </ol>
    </div>

    <h2>Additional Images</h2>

    {% for image in photo_gallery %}
      <img src="{{ url_prefix }}{{ image.src }}" alt="{{ image.alt }}" />
    {% endfor %}

    <!--{{ author }}-->
  </div>
{% endblock content %}
