{% extends "base.html" %}

{% set nav_page = "recipes" %}

{% block title %}{{ name }}{% endblock title %}
{% block body_class %}p-details{% endblock body_class %}
{% block pre_content %}
  <header id="header">
    <nav id="nav">
      <div class="back-btn">
        <a class="back-btn__action" href="{{ url_prefix }}recipes.html" aria-label="Back to Travel">
          <i class="fa-solid fa-arrow-left fa-xl"></i>
        </a>
      </div>
    </nav>

    <div class="hero" title="{{ name }}">
      <img class="img-blur-decor hero__bg" src="{{ url_prefix }}{{ main_img.src }}" alt=""/>
      <img class="hero__img" src="{{ url_prefix }}{{ main_img.src }}" alt="{{ main_img.alt }}"/>
      <h1 class="hero__txt">{{ name }}</h1>
      <!-- Invisible button to hide text -->
      <button class="hero__btn" aria-label="Hide text"></button>
    </div>
  </header>
{% endblock pre_content %}

{% block content %}
  <div class="article">
    <p><b>Origin:</b> {{ origin }}</p>
    <p>
      <b>Source:</b>
      {% if source.type == "text" %}
        {{ source.value }}
      {% elif source.type == "link" %}
        <a class="link" href="{{ url_prefix }}{{ source.value }}">{{ source.value }}</a>
      {% endif %}
    </p>
    <p><b>Category:</b> {{ category }}</p>

    <div class="long-text">
      <p>{{ description }}</p>
    </div>

    <h2>Recipe Ingredients</h2>

    <div class="long-text">
      <ul>
        {% for item in ingredients recursive %}
          <li>
            {% if item is string %}
              {{ item }}
            {% else %}
              {{ item.parent }}
              <ul>{{ loop(item.children) }}</ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>

    <h2>Recipe Steps</h2>

    <div class="long-text">
      <ol>
        {% for step in steps %}
          <li>{{ step }}</li>
        {% endfor %}
      </ol>
    </div>

    <h2>Additional Images</h2>

    <div class="photo-grid">
      {% for image in photo_gallery %}
        <div class="constrained-img photo-grid__img">
          <img class="img-blur-decor constrained-img__bg" src="{{ url_prefix }}{{ image.src }}" alt="" />
          <img class="constrained-img__img" src="{{ url_prefix }}{{ image.src }}" alt="{{ image.alt }}" />
        </div>
      {% endfor %}
    </div>

    <!-- {{ author }} -->
  </div>
{% endblock content %}
