{% extends "base.html" %}

{% set nav_page = "index" %}

{% block title %}{{ name }}{% endblock title %}
{% block pre_content %}
  {% include "components/nav.html" %}

  <header class="hero l-full-pad" id="header" title="{{ name }}">
    <img class="img-blur-decor hero__bg" src="{{ url_prefix }}{{ main_img.src }}" alt="" />
    <img class="hero__img" src="{{ url_prefix }}{{ main_img.src }}" alt="{{ main_img.alt }}" />
    <h1 class="hero__txt">{{ name }}</h1>
    <!-- Invisible button to hide text -->
    <button class="hero__btn" aria-label="Hide text"></button>
  </header>
{% endblock pre_content %}

{% block content %}
  <div class="article">
    <div class="long-text">
      {% for par in description %}
        <p>{{ par }}</p>
      {% endfor %}
    </div>

    <h2>Likes</h2>

    <div class="long-text">
      <ul>
        {% for thing in liked_things %}
          <li>{{ thing }}</li>
        {% endfor %}
      </ul>
    </div>

    <h2>Photo Gallery</h2>

    {% for image in photo_gallery %}
      <img src="{{ url_prefix }}{{ image.src }}" alt="{{ image.alt }}" />
    {% endfor %}

    <!-- {{ author }} -->
  </div>
{% endblock content %}
